//registry.yarnpkg.com/:username=itaylor
//registry.yarnpkg.com/:email=ian.b.taylor@gmail.com
//registry.yarnpkg.com/:always-auth=false
//registry.npmjs.org/:username=itaylor
//registry.npmjs.org/:email=ian.b.taylor@gmail.com
//registry.npmjs.org/:always-auth=false
