.NavBar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.NavBar li {
  list-style-type: none;
  margin: 0 10px;
  color:
}
.NavBar li.active::after {
  display: block;
  content: '●';
  color: #fff;
  font-size: 12px;
  /* border-radius: 4px; */
  /* left: calc(-50%); */
  /* bottom: -16px; */
  /* position: relative; */
}
