:root {
  --blackish: #03191E;
  --linkblue: #20A4F3;
  --visitedblue: #1E96DD;
  --lightblue: #71C5F7;
  --lightred: #984F4A;
  --red: #720E07;
  --grey: #CCD7E0;
  --dark-grey: #7B848B;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  padding: 1em 2em;
}

a {
  color: var(--linkblue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--lightblue);
}
a:visited {
  color: var(--linkblue);
}
